<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.antoniovm.lowtency"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.antoniovm.lowtency.activity.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.antoniovm.lowtency.activity.ActivityServerInfo">
        </activity>
        <activity
            android:name="com.antoniovm.lowtency.activity.ActivityServerStreaming">
        </activity>
        <activity
            android:name="com.antoniovm.lowtency.activity.ActivityClientConnection">
        </activity>
        <activity
            android:name="com.antoniovm.lowtency.activity.ActivityClientStreaming">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.example.intentdemo.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="lowtency" />
            </intent-filter>

        </activity>
    </application>

</manifest>
